.list {
  max-width: 1200px;
  margin: 0 auto; }
  @media (max-width: 1199px) {
    .list {
      padding-right: 20px;
      padding-left: 20px; } }
  .list__row {
    display: flex;
    margin-right: -10px;
    margin-left: -10px;
    margin-bottom: 40px;
    flex-wrap: wrap; }