.filters {
  display: flex;
  margin-bottom: 40px;
  justify-content: center;
  list-style: none; }
  .filters__filter {
    padding: 10px 20px;
    margin-right: 20px;
    margin-left: 20px;
    font-family: "Roboto Mono", "Courier New", monospace;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    background-color: #ccc;
    border-radius: 16px;
    transition: background-color 300ms ease-in-out; }
    .filters__filter:hover {
      background-color: #aaa; }
    .filters__filter--active {
      background-color: #2d2; }
      .filters__filter--active:hover {
        background-color: #1a1; }

.list {
  max-width: 1200px;
  margin: 0 auto; }
  @media (max-width: 1199px) {
    .list {
      padding-right: 20px;
      padding-left: 20px; } }
  .list__row {
    display: flex;
    margin-right: -10px;
    margin-left: -10px;
    margin-bottom: 40px;
    flex-wrap: wrap; }
  .list__col {
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
    margin-bottom: 40px; }
    @media (min-width: 800px) {
      .list__col {
        width: 33.33333%;
        padding-right: 10px;
        padding-left: 10px; } }
  .list__error {
    width: 100%;
    padding-right: 10px;
    padding-left: 10px; }

.listItem {
  display: flex;
  height: 100%;
  color: inherit;
  text-decoration: none;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ccc;
  transition: background-color 300ms ease-in-out; }
  .listItem:hover {
    background-color: #aaa; }
  .listItem__image {
    display: flex;
    align-items: center; }
    .listItem__image img {
      /* stylelint-disable-line */
      width: 100%; }
  .listItem__bottom {
    display: flex;
    align-items: center;
    padding: 10px; }
  .listItem__texts {
    flex: 1; }
  .listItem__finished {
    font-size: 3rem;
    color: #2d2; }
  .listItem__category {
    position: relative;
    z-index: 1;
    display: block;
    font-family: "Roboto Mono", "Courier New", monospace;
    font-size: 1rem;
    text-transform: uppercase; }
  .listItem__title {
    position: relative;
    z-index: 1;
    font-family: "Roboto Mono", "Courier New", monospace;
    font-size: 2rem; }